<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="WSGI_HANDLER" value="wsgi.app" />
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\Keyvault;C:\inetpub\wwwroot\Keyvault\lib" />
    <add key="WSGI_LOG" value="C:\inetpub\wwwroot\Keyvault\logs\wfastcgi.log" />
  </appSettings>
  <system.webServer>
    <handlers>
      <add name="PythonFastCGI"
           path="*"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="C:\Program Files\Python312\python.exe|C:\inetpub\wwwroot\Keyvault\wfastcgi.py"
           resourceType="Unspecified" />
    </handlers>
  </system.webServer>
</configuration>
